
@font-face {
  font-family: 'Ubuntu-RegularItalic';
  src: url('Ubuntu-RegularItalic.eot?#iefix') format('embedded-opentype'),  url('Ubuntu-RegularItalic.woff') format('woff'), url('Ubuntu-RegularItalic.ttf')  format('truetype'), url('Ubuntu-RegularItalic.svg#Ubuntu-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
